
<div class="content  ">
  <mat-sidenav-container class="sidenav-container" style="background-color: rgb(31, 31, 34);">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
    >
      
    
   
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-toolbar style="background-color:rgb(31, 31, 34)">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span></span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
    <!-- this is the sidenav -->
    <mat-sidenav #panel class="panel" position="end">
      
      <!-- to load different components dynamically -->
       <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    </mat-sidenav>
  </mat-sidenav-container>
  
  </div>
  
  