
  mat-sidenav{
    margin: 0px;
    width: 230px;
    border-right:none;
    background-color:rgb(31, 31, 34);
    color: orange;
    border: radius 20px;
    padding: 11px;
    text-align:left;
    margin-top: auto;
    width: fit-content;
    
    justify-content: left;
  }
  .content{
    height:calc(100vh - 98px);
    margin: 10px;
    margin-left:10px;
    
    justify-content: left;
    align-items: center;
    color: lightgray;
    border-radius: 10px;
    width: fit-content;
    
    
  }
  mat-sidenav-container{
    height:calc(100vh - 65px);
  }
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    
    mat-icon {
        margin-right: 8px;
       
    }
    
  }
  .menu-button:hover{
    color: greenyellow;
  }
  mat-icon:hover{
    color: greenyellow;
  }
  
  
  
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .one{
    display: inline-block;
    margin-left: 950px;
  }
  .two{
    display: inline-block;
    margin-left: 850px;
  }
  .mat-tab-group {
    margin-bottom: 48px;
    color: gray;
  }
  .stepper{
      background-color: rgb(31, 31, 34);
  
  }
  
  
  div.active {
    position: relative;
  
    &::before {
      content: '';
      
      position: absolute;
      bottom: -15px;
      height: 2px;
      width: 100%;
    }
    .menu-button{
        color: greenyellow;
    }
    mat-icon {
      color: yellowgreen;
    }
  }
  .elementnotify{
      background-color: rgb(43, 153, 43);
      padding:3px;
      border-radius: 5px;
      color:white;
      align-self: right;
      margin-right: 2.5rem;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:rgb(31, 31, 34)!important;
   background-color: rgb(15, 15, 32);
   
  
  }
  .imgbox {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: solid 1px #000;
    margin-left: 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(31, 31, 34);
  }
  .candi{
  max-width: 90px;
  background-color: rgb(15, 15, 32);
  border-radius: 3px;
  max-height: 130px;
  margin-top: 100px;
  border-radius:5px ;
  }
  mat-form-field:hover{
  color: greenyellow;
  
  }
  .compo{
  margin-top: -170px;
  margin-left: 150px;
  
  }
  .cardy{
  margin-top: 50px;
  }
  
  .mat-button:hover{
  // border-bottom-style: dashed;  
  border-bottom-color: greenyellow;
  
  }
  .elementnotify{
  background-color: rgb(123, 177, 43);
  padding:3px;
  border-radius: 5px;
  color:white;
  align-self: right;
  margin-right: 2.5rem;
  }
  .mat-button:hover{
  color: greenyellow;
  }
  div.btn {
  position: relative;
  
  &::before {
    content: '';
    
    position: absolute;
    bottom: -15px;
    height: 2px;
    width: 100%;
  }
  .bt:hover{
      color: greenyellow;
  }
  mat-button{
    color: greenyellow;
  }
  mat-icon {
    color: yellowgreen;
  }
  }
  .bt:hover{
  color: greenyellow;
  }
  .bt:hover{
  color: white;
  border-bottom-color: yellowgreen;
    border-bottom-style: dashed;  
  
  }
  .bt:hover{
    color: yellowgreen;
  
  }
  // Sass Mixing
  @mixin hideScrollbar {
    &::-webkit-scrollbar {
      width: 0 !important
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:greenyellow!important;
  }
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }
  .block {
    width: 100px;
    margin-top: -40px;
  }
  .block:hover {
    width: 100px;
    color: yellowgreen;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  