<style>
    .vertical {
        border-left: 5px solid black;
        height: 200px;
    }
  </style>
  <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        
          <div style="color: gray;">
          <button mat-button class="menu-button"onclick="document.location='summary'">
              <mat-icon>contact_mail</mat-icon>&nbsp;&nbsp;
              <span>Summary</span>
          </button>

        </div>&nbsp;&nbsp;

  <div style="color: gray;">
          <button mat-button class="menu-button"onclick="document.location='edit'">
              <mat-icon>edit</mat-icon>&nbsp;&nbsp;
              <span>Edit</span>
          </button>
      
      
  </div>&nbsp;&nbsp;
      <div style="color: gray;"onclick="document.location='marketting'">
          <button mat-button class="menu-button">
              <mat-icon>search</mat-icon>&nbsp;&nbsp;
              <span>Marketting</span>
             
          </button>
      </div>&nbsp;&nbsp;
          <mat-divider></mat-divider>
          <div class="active">
          <div style="color: gray;">
          <button mat-button class="menu-button"onclick="document.location='comments'">
              <mat-icon >description</mat-icon>&nbsp;&nbsp;
              <span>Comments</span>&nbsp;&nbsp;
              <span class="elementnotify">         5</span>
          </button>
          </div>
        </div>&nbsp;&nbsp;
          <div style="color: gray;">
          <button mat-button class="menu-button"onclick="document.location='email'">
              <mat-icon>email</mat-icon>&nbsp;&nbsp;
              <span>Email/SMS</span>&nbsp;&nbsp;
              <span class="elementnotify"> 2</span>
          
          </button>
          <div style="color: gray;">
      </div>&nbsp;&nbsp;
          <button mat-button class="menu-button"onclick="document.location='agenda'">
              <mat-icon >event</mat-icon>&nbsp;&nbsp;
              <span>Agenda</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="elementnotify"> 5</span>
          </button>
          </div>&nbsp;&nbsp;
          <div style="color: gray;">
          <button mat-button class="menu-button"onclick="document.location='callnotes'">
              <mat-icon>perm_phone_msg</mat-icon>&nbsp;&nbsp;
              <span>Call/Notes</span>&nbsp;&nbsp;&nbsp;
              <span class="elementnotify">         3</span>
          </button>
  </div>&nbsp;&nbsp;
  <br><br>
  
  
      </mat-sidenav><br>&nbsp;&nbsp;&nbsp;&nbsp;<br>
      <mat-sidenav-content style="background-color: rgb(31, 31, 34);">
        <div class="content"><br><br>
            <h1 style="color: azure;">COMMENTS PAGE</h1>
            <div class="row">

                
              
              
              
              
              
              
                </div>
                      
            </div>
            </mat-sidenav-content>